* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
}

#container-1 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-1 {
    background-color: #fff;
    border-radius: 12px;
    width: 150px;
    padding: 20px 160px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
}

.card-1 img {
    width: 150px;
    height: 120px;
    object-fit:contain;
}

.card-1 p {
    width: 100;
}

#container-2 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-2 {
    background-color: #fff;
    border-radius: 12px;
    width: 150px;
    padding: 20px 160px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
}

.card-2 img {
    width: 150px;
    height: 120px;
    object-fit:contain;
}